.layout-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-size: 13px;
    padding: 5rem 2rem 0 1rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
}
